* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #3b71fe;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: #d3d3d3;
    padding: 40px 24px;
}
img {
    display: block;
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    /* background-color: rgb(248, 117, 117); */
}
.list-tour {
    /* background-color: #3b71fe; */
    display: flex;
    align-items: stretch;
    margin-left: -30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.top-tour {
    width: calc(33.3333% - 30px);
    height: auto;
    background-color: white;
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    /* display: flex;
    flex-direction: column; */
}
.image-tour {
    position: relative;
}
.view {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 239px;
    object-fit: cover;
    display: block;
}
.Price-tour {
    color: #fcfcfd;
    position: absolute;
    display: inline-block;
    left: 30px;
    top: 25px;
    font-size: 12px;
    line-height: 20px;
    background-color: rgb(53, 57, 69, 0.8);
    padding: 5px 15px;
    border-radius: 4px;
}
.content-tour {
    padding: 20px 20px 14px;
}
.title-tour {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5556;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    /* white-space: nowrap; */
}
.review-tour {
    margin: 0px 0 20px;
    font-size: 14px;
    line-height: 1.928571;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating-tour {
    display: flex;
    align-items: center;
}
.star-tour {
    display: inline-block;
    /* align-items: center; */
    /* vertical-align: middle; */
}
.review-amount-tour {
    margin-left: 11px;
    color: rgba(59, 62, 68, 1);
}
.duration-tour {
    line-height: 1.4285714286;
}
.pricing-button-tour {
    padding: 8px 16px;
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 8px;
    width: 138px;
}
.button {
    color: #f4f5f6;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.21;
}
.container-popular {
    max-width: 1170px;
    width: 100%;
    height: 288px;
    margin: 0 auto;
}
.list-popular {
    display: flex;
    margin-left: -30px;
}
.item-popular {
    width: calc(25% - 30px);
    margin-left: 30px;
    background-color: #ffffff;
    border-radius: 14px;
}
.image-popular {
    position: relative;
    height: 185px;
}
.overlay-popular {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        24.19deg,
        rgba(4, 4, 4, 0.52) 0.23%,
        rgba(4, 4, 4, 0) 55.52%
    );
    border-radius: 14px 14px 0 0;
    position: absolute;
    inset: 0;
}
.activity_img {
    width: 100%;
    height: 185px;
    object-fit: cover;
    border-radius: 14px 14px 0 0;
}
.button-popular {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    right: 20px;
    transform: translateY(50%);
    font-size: 12px;
    line-height: 1.25;
    color: #f4f5f6;
    text-decoration: none;
    padding: 4px 18px 5px;
    background-color: var(--primary-color);
    border-radius: 30px;
}
.content-popular {
    padding: 14px 20px 11px 20px;
}
.time-popular {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.21;
    color: #777e90;
}
.content-container {
    display: block;
}
.title-popular {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5555555556;
    color: #353945;
    margin: 8px 0 9px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.review-popular {
    display: flex;
    align-items: center;
}
.star-popular {
    margin-right: 11px;
}
.amount-popular {
    font-size: 12px;
    line-height: 1.75;
    color: #4f4f4f;
}
@media screen and (max-width: 390px) {
    .top-tour {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 14px;
    }
    .view {
        height: 211px;
        border-radius: 14px 14px 0 0;
    }
    .Price-tour {
        padding: 4px 14px;
        border-radius: 3.54px;
    }
    .content-tour {
        padding: 18px 18px 9.31px;
    }
    .title-tour {
        margin-bottom: 9px;
        font-size: 16px;
        line-height: 1.5;
    }
    .review-tour {
        margin-bottom: 18px;
        font-size: 12px;
        /* line-height: 1.2083333333; */
    }
    .review-amount-tour {
        margin-left: 5px;
    }
    .pricing-button-tour {
        padding: 7px 15px 9px 15px;
        border-radius: 7px;
        width: 121px;
    }
    .button {
        font-size: 12px;
        line-height: 1.2083333333;
    }
}
