* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #3b71fe;
    --primary-space_between: 30px;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: #d3d3d3;
    padding: 40px 24px;
}
img {
    display: block;
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 70px;
    /* background-color: rgb(248, 117, 117); */
}
.heading-tour {
    margin-bottom: 34px;
}
.head-tour {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    color: #283558;
}
.list-tour {
    /* background-color: #3b71fe; */
    display: flex;
    align-items: stretch;
    margin-left: -30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.top-tour {
    width: calc(33.3333% - 30px);
    height: auto;
    background-color: white;
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    /* display: flex;
    flex-direction: column; */
}
.image-tour {
    position: relative;
}
.view {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 239px;
    object-fit: cover;
    display: block;
}
.Price-tour {
    color: #fcfcfd;
    position: absolute;
    display: inline-block;
    left: 30px;
    top: 25px;
    font-size: 12px;
    line-height: 20px;
    background-color: rgb(53, 57, 69, 0.8);
    padding: 5px 15px;
    border-radius: 4px;
}
.content-tour {
    padding: 20px 20px 14px;
}
.title-tour {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5556;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    /* white-space: nowrap; */
}
.review-tour {
    margin: 0px 0 20px;
    font-size: 14px;
    line-height: 1.928571;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating-tour {
    display: flex;
    align-items: center;
}
.star-tour {
    display: inline-block;
    /* align-items: center; */
    /* vertical-align: middle; */
}
.review-amount-tour {
    margin-left: 11px;
    color: rgba(59, 62, 68, 1);
}
.duration-tour {
    line-height: 1.4285714286;
}
.pricing-button-tour {
    padding: 8px 16px;
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 8px;
    width: 138px;
}
.button {
    color: #f4f5f6;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.21;
}
.container-popular {
    max-width: 1170px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 135px;
}
.heading-popular {
    margin-bottom: 34px;
}
.head-popular {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    color: rgba(53, 57, 69, 1);
}
.list-popular {
    display: flex;
    margin-left: -30px;
}
.item-popular {
    width: calc(25% - 30px);
    margin-left: 30px;
    background-color: #ffffff;
    border-radius: 14px;
}
.image-popular {
    position: relative;
    height: 185px;
}
.overlay-popular {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        24.19deg,
        rgba(4, 4, 4, 0.52) 0.23%,
        rgba(4, 4, 4, 0) 55.52%
    );
    border-radius: 14px 14px 0 0;
    position: absolute;
    inset: 0;
}
.activity_img {
    width: 100%;
    height: 185px;
    object-fit: cover;
    border-radius: 14px 14px 0 0;
}
.button-popular {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    right: 20px;
    transform: translateY(50%);
    font-size: 12px;
    line-height: 1.25;
    color: #f4f5f6;
    text-decoration: none;
    padding: 4px 18px 5px;
    background-color: var(--primary-color);
    border-radius: 30px;
}
.content-popular {
    padding: 14px 20px 11px 20px;
}
.time-popular {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.21;
    color: #777e90;
}
.content-container {
    display: block;
}
.title-popular {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5555555556;
    color: #353945;
    margin: 8px 0 9px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.review-popular {
    display: flex;
    align-items: center;
}
.star-popular {
    margin-right: 11px;
}
.amount-popular {
    font-size: 12px;
    line-height: 1.75;
    color: #4f4f4f;
}
.container-hidden {
    display: grid;
    place-items: center;
    /* height: auto;
    margin: 0 auto; */
}
.head-hidden {
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    color: rgba(53, 57, 69, 1);
}
.list-hidden {
    max-width: 998px;
    width: 100%;
    margin-bottom: 135px;
    /* margin-bottom: calc(135px - var(--primary-space_between)); */
    /* display: flex;
    flex-wrap: wrap;
    margin-left: -30px; */
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(2, 1fr);
    /* row-gap: 30px; */
    gap: 30px;
}
.item-hidden {
    /* width: auto; */
    padding: 12px;
    background: rgb(253, 253, 253);
    /* margin-left: 30px; */
    /* margin-bottom: var(--primary-space_between); */
    border-radius: 13px;
    /* position: relative; */
}
.imgae-hidden {
    position: relative;
}
.gadient-hidden {
    background: linear-gradient(
        3.19deg,
        rgba(0, 0, 0, 0.6) 17.99%,
        rgba(0, 0, 0, 0) 55.56%
    );
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: 13px;
    position: absolute;
}
.view-hidden {
    display: block;
    width: 100%;
    height: 196px;
    object-fit: cover;
    border-radius: 13px;
}
.content-hidden {
    position: absolute;
    bottom: 12px;
    left: 30px;
    /* display: flex; */
    /* flex-wrap: wrap; */
}
.title-hidden {
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 6px;
    display: inline-block;
}
.date-hidden {
    display: block;
    font-style: normal;
    font-weight: 500px;
    font-size: 14px;
    line-height: 1.4285714286;
    color: rgba(230, 232, 236, 1);
}
.link-hidden {
    display: flex;
    align-items: center;
}
.explore-hidden {
    padding: 9px 40px;
    background-color: var(--primary-color);
    margin: 0 auto;
    border-radius: 30px;
}
.button-hidden {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
}
.container-test {
    display: grid;
    place-items: center;
}
.test-list {
    display: grid;
    grid-template-rows: 250px 250px 250px;
    grid-template-columns: repeat(3, 1fr);
}
.test-item img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 8px;
    border-radius: 20px;
}
.test-item:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
}
.test-item:nth-child(3) {
    /* grid-row: 2/4; */
}
@media screen and (max-width: 390px) {
    .top-tour {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 14px;
    }
    .view {
        height: 211px;
        border-radius: 14px 14px 0 0;
    }
    .Price-tour {
        padding: 4px 14px;
        border-radius: 3.54px;
    }
    .content-tour {
        padding: 18px 18px 9.31px;
    }
    .title-tour {
        margin-bottom: 9px;
        font-size: 16px;
        line-height: 1.5;
    }
    .review-tour {
        margin-bottom: 18px;
        font-size: 12px;
        /* line-height: 1.2083333333; */
    }
    .review-amount-tour {
        margin-left: 5px;
    }
    .pricing-button-tour {
        padding: 7px 15px 9px 15px;
        border-radius: 7px;
        width: 121px;
    }
    .button {
        font-size: 12px;
        line-height: 1.2083333333;
    }
    .list-hidden {
        --primary-space_between: 16px;
        margin-bottom: calc(135px - var(--primary-space_between));
    }
    .item-hidden {
        width: 100%;
        padding: 8px;
        margin-bottom: var(--primary-space_between);
    }
    .gadient-hidden {
        background: linear-gradient(
            8.83deg,
            rgba(0, 0, 0, 0.56) 22.88%,
            rgba(0, 0, 0, 0) 58.17%
        );
    }
    .view-hidden {
        height: 133px;
        border-radius: 8.78306px;
    }
    .content-hidden {
        left: 20px;
        bottom: 10px;
    }
    .title-hidden {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 4px;
    }
    .date-hidden {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 1.3;
    }
    .explore-hidden {
        padding: 4px 20px;
        border-radius: 20px;
    }
    .button-hidden {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }
}
