include ./pug/mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Airtrav
        link(rel="icon" type="image/png" href="../Img/logo.png")
        link(rel="stylesheet" href="./app.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@500&display=swap" rel="stylesheet")
    body 
        .container
            .list-tour
                +tour-item('https://images.unsplash.com/photo-1510414842594-a61c69b5ae57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60','40','Thailands Ayutthaya Temples Cruise from Bangkok Thailands Ayutthaya Temples Cruise from Bangkok Thailands Ayutthaya Temples Cruise from Bangkok','5','200','4',"67")
                
                +tour-item('https://images.unsplash.com/photo-1455156218388-5e61b526818b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60','50', 'FLoating Markets Day Trip from Bangkok','4.8','567','6',"99")
                +tour-item('https://images.unsplash.com/photo-1570077188670-e3a8d69ac5ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2FudG9yaW5pfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60','90','Bangkok Dinner Cruise on the Chao Phraya River','3','144','24',"90")
        .container-popular 
            .list-popular
                +popular-item("https://images.unsplash.com/photo-1626826792859-898006a27bde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mjh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60","Sep 28 10:00 AM - 1:00 PM","Downhill mountain biking")
                +popular-item("https://images.unsplash.com/photo-1627118841439-bd069ff0af74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fEJ1bmdlZSUyMEp1bXBpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60","Dec 7 10:00 AM - 1:00 PM","Bungee Jumping")
                +popular-item("https://images.unsplash.com/photo-1597250861267-429663f244a8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHJvY2slMjBjbGltYmluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60","Jan 1 10:00 AM - 1:00 PM","Rock climbing")
                +popular-item("https://images.unsplash.com/photo-1605540436563-5bca919ae766?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8ODl8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60","Aug 23 10:00 AM - 1:00 PM","Skiing")


